<div class="card">
    <div class="card__content">
        <div class="card__content--doc profile">
            <img class="profile__avatar" src="https://w7.pngwing.com/pngs/14/65/png-transparent-ico-avatar-scalable-graphics-icon-doctor-with-stethoscope-people-cartoon-female-doctor.png" alt="">
            <p>Dra. María José Domínguez</p>
            <strong>Especialista en Pediatría</strong>
            <img class="profile__starts" src="https://3.bp.blogspot.com/-BQv_gSjB22U/WIRrwg5oM6I/AAAAAAABktM/yNXHpvY5hdscNrnXIIOXYKFskM8x2tN0wCLcB/s1600/3-5-star.png" alt="">
            <small>Cl. 123 #7-60 Edificio Medical Center</small>
        </div>
        <div class="card__content--text">
            <strong>Perfil profesional</strong>
            <p>El doctor Juan Pablo Riveros tiene más de 25 años de experiencia como Cardiólogo e Internista, su énfasis ha sido la prevención y el tratamiento de todo tipo de enfermedades cardiovasculares y metabólicas como la diabetes, el sobrepeso y los
                factores de riesgo asociados.
            </p>
            <strong>Especialidades</strong>
            <div class="specialties">
                <div class="specialties__item">Cirugía cardiovascular</div>
                <div class="specialties__item">Electrocardiograma</div>
                <div class="specialties__item">Hipertensión</div>
                <div class="specialties__item">Insuficiencia cardíaca</div>
            </div>
        </div>
    </div>
    <div class="card__footer">
        <div class="date__large">
            <strong>Disponible hoy:</strong>
            <span> Martes, 11 de septiembre</span>
        </div>
        <div class="date__short">
            <strong>Hoy:</strong>
            <span>Mar, 11 de sep</span>
        </div>
        <button>PEDIR CITA ></button>
    </div>
</div>